<% $quizzes.each do |quiz|%>
  <% @data['exercises'].sort_by {|hash| hash["muscle_type"].to_i} %>
  <% @data['exercises'].reverse.each do | exercise|%>
  <% id = quiz.id %>
    
    <%# UPPER BODY BEGINNER %>
    <% if params["q1".to_sym] == "1" && params["q1".to_sym] == "1"%>
      <% if exercise['exercise']['bodypart'] == "upper" && exercise['exercise']['difficulty'] == 1 %>
        <%# top boxes %>
        
          <div class="littleboxes">
            <div class="col">
              <ul>
                <li><%= exercise['exercise']['name']%></li>
              </ul>
            </div>
          </div>
        
        <%# exercises %>
        <main class="mainworkout">
            <ul>
              <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
              <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
              <li><h2><%= exercise['exercise']['description']%></h2></li>
              <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
              <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
              <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
              <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
              <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
            </ul>
        </main>
      <% end %>
    
    
    <%# UPPER BODY INTERMEDIATE %>
    <% elsif params["q1".to_sym] == "1" && params["q1".to_sym] == "2"%>
      <% if exercise['exercise']['bodypart'] == "upper" && exercise['exercise']['difficulty'] == 2 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
    


    <%# UPPER BODY ADVANCED %>
    <% elsif params["q1".to_sym] == "1" && params["q2".to_sym] == "3" %>
      <% if exercise['exercise']['bodypart'] == "upper" && exercise['exercise']['difficulty'] == 3 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
    


    <%# LOWER BODY INTERMEDIATE %>
    <% elsif params["q1".to_sym] == "2" && params["q2".to_sym] == "2" %>
      <% if exercise['exercise']['bodypart'] == "lower" && exercise['exercise']['difficulty'] == 2 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
    


    <%# LOWER BODY ADVANCED %>
    <% elsif params["q1".to_sym] == "2" && params["q2".to_sym] == "3" %>
      <% if exercise['exercise']['bodypart'] == "lower" && (exercise['exercise']['difficulty'] == 3 || exercise['exercise']['difficulty'] == 2) %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
    


    <%# ABS BEGINNER%>
    <% elsif params["q1".to_sym] == "3" && params["q2".to_sym] == "1"%>
      <% if exercise['exercise']['bodypart'] == "abs" && exercise['exercise']['difficulty'] == 1 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>


    <%# ABS  INTERMEDIATE%>
    <% elsif params["q1".to_sym] == "3" && params["q2".to_sym] == "2"%>
      <% if exercise['exercise']['bodypart'] == "abs" && exercise['exercise']['difficulty'] == 2 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>


    <%# ABS ADVANCED %>
    <% elsif params["q1".to_sym] == "3" && params["q2".to_sym] == "3"%>
      <% if exercise['exercise']['bodypart'] == "abs" && exercise['exercise']['difficulty'] == 2 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
  


    <%# FULL BODY INTERMEDIATE %>
    <% elsif params["q1".to_sym] == "4" && params["q2".to_sym] == "2"  %>
      <% if exercise['exercise']['bodypart'] == "full" && exercise['exercise']['difficulty'] == 2 %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>


    <%# FULL BODY ADVANCED %>
    <% elsif params["q1".to_sym] == "4" && params["q2".to_sym] == "3" %>
      <% if exercise['exercise']['bodypart'] == "full" && (exercise['exercise']['difficulty'] == 3 || exercise['exercise']['difficulty'] == 2 || exercise['exercise']['difficulty'] == 1) %>
        <main>
          <ul>
            <li><h2><strong><img src="<%= exercise['exercise']['image']%>"></strong></h2></li>
            <li><h2><strong><%= exercise['exercise']['name']%></strong></h2></li>
            <li><h2><%= exercise['exercise']['description']%></h2></li>
            <li><h2>Reps: <%= exercise['exercise']['reps']%></h2></li>
            <li><h2>Sets: <%= exercise['exercise']['sets']%></h2></li>
            <li><h2>Difficulty: <%= exercise['exercise']['difficulty']%></h2></li>
            <li><h2>Body Part Worked: <%= exercise['exercise']['bodypart']%></h2></li>
            <li><h2>Muscle Type: <%= exercise['exercise']['muscle_type']%></h2></li>
          </ul>
        </main>
      <% end %>
    <% end %>
  <% end %>
<% end %>
